.cover {
  max-width: 1184px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto 92px auto;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: none;
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-bottom: 54px;
  }
}
