.cover__background {
  min-height: 740px;
  background: url(/images/cover-trains.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.cover__background:hover .cover__overlay {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 600px) {
  .cover__background {
    min-height: 400px;
  }
}

@media screen and (max-width: 425px) {
  .cover__background {
    min-height: 300px;
  }
}

@media screen and (max-width: 350px) {
  .cover__background {
    min-height: 200px;
  }
}
